* {
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
    background-color: #2B3844;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 23px 23px 0px;
}

h1 {
    width: 300px;
    top: 30px;
    left: 16px;
    gap: 0px;
    opacity: 0px;

    margin-left: 80px;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 800;
    line-height: 32.74px;
    text-align: left;
    color: #FFFFFF;
}


.leftheader {
    width: 120px;
    height: 17px;
    top: 32px;
    left: 275px;
    opacity: 0px;
    margin-right: 80px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.leftheader>p {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.82px;
    text-align: left;
    color: white;


}

.headermain>input {
    width: 450px;
    height: 56px;
    background-color: #2B3844;
    border: none;
}

.leftheader>img {
    margin-right: 8px;
}

body {
    background-color: #202C36;
}

.headermain {
    display: flex;
    align-items: center;
    width: 480px;
    background-color: #2B3844;
    gap: 24px;

}

.headermain>img {
    width: 18px;
    height: 18px;

}

main {
    padding-left: 80px;
    padding-top: 48px;
}

input::placeholder {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: white;
}

.main1 {
    margin-top: 48px;
}

.card {
    width: 264px;
    top: 232px;
    left: 80px;
    gap: 0px;
    opacity: 0px;
    background-color: #2B3844;
    padding-bottom: 46px;
    border-radius: 5px;
}

.card>img {
    margin-bottom: 24px;
    width: 100%;
    border-radius: 5px;
}

.title_card {
    margin-bottom: 16px;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
    text-align: left;
    color: white;
}

.card>p {
    margin-left: 24px;
}

.card>.dp_card {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: white;
    margin-bottom: 8px;
}

.card>.dp_card1 {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: white;
    margin-bottom: 8px;

}

.card>.dp_card2 {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: white;

}

.main1 {
    display: flex;
    gap: 75px;
}

.main2 {
    margin-top: 75px;
    display: flex;
    gap: 75px;
}

@media (max-width:375px) {
    main {
                flex-direction: column;
        align-items: center;
        padding: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .main1 {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .main2 {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .headermain {
        width: 300px;
        margin-top: 24px;

    }

    h1 {
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 800;
        line-height: 20px;
        width: 350px;
        height: 20px;
        top: 30px;
        left: 16px;
        gap: 0px;
        opacity: 0px;
        margin-left: 16px;
        margin-top: 30px;
        margin-bottom: 30px;


    }

    .headermain {
        width: 100%;

    }

    .leftheader {
        margin-left: 124px;
        width: 120px;
        height: 17px;
        top: 32px;
        left: 275px;
        gap: 0px;
        opacity: 0px;
        margin: 0;

    }

    .leftheader>p {
        width: 60px;
        height: 16px;
        top: 1px;
        left: 24px;
        gap: 0px;
        opacity: 0px;
        font-family: Nunito Sans;
        font-size: 12px;
        font-weight: 600;
        line-height: 16.37px;
        text-align: left;
        color: white;
    }
    header{
        padding: 0;
        padding-right: 16px;
    }
}